.dolphin {
  height: 40px;
  width: 40px;
}

#logo-text {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  align-items: center;
  // padding-right: 50px;
  font-family: 'Urbanist', sans-serif;
}

.logo {
  display: flex;
  align-items: center;
}

.main-nav {
  padding-top: 20px;
  padding-left: 60px;
  display: flex;
  align-items: center;
  border-bottom: 100px black solid;
  padding-bottom: 20px;
  font-family: 'Urbanist', sans-serif;
}

.main-nav#logo-text {
  align-items: center;
  margin-right: 20px;
  padding: 50px;
}

.main-nav a,
ul {
  text-decoration: none;
  color: black;
  // margin-left: 20px;
  transition-property: color;
  :hover {
    color: #24ace6;
    transition: 0.2s ease-in;
  }
}

.main-nav li {
  display: inline;
  /* align-items: center; */
}

.main-nav ul:last-child {
  margin-left: auto;
  padding-right: 5%;
  :hover {
    color: #24ace6;
    transition: 0.2s ease-in;
  }
}

.entry-nav a {
  text-decoration: none;
  color: black;
  font-family: 'Urbanist', sans-serif;
  float: right;
}

.nav-menu {
  font-size: 0.85rem;
  font-weight: bold;
  :hover {
    transition: 0s;
    padding-bottom: 10%;
    border-bottom: 5px solid #24ace6;
  }
}
