.dolphin {
  height: 40px;
  width: 40px;
}

#logo-text {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  align-items: center;
  // padding-right: 50px;
  font-family: 'Urbanist', sans-serif;
}

.logo {
  display: flex;
  align-items: center;
}

.main-nav {
  padding-top: 20px;
  padding-left: 10%;
  display: flex;
  align-items: center;
  border-bottom: 5px black solid;
  padding-bottom: 20px;
  font-family: 'Urbanist', sans-serif;
  min-width: 800px;
  // background: radial-gradient(
  //   ellipse at center,
  //   rgba(255, 254, 234, 1) 0%,
  //   rgba(255, 254, 234, 1) 35%,
  //   #b7e8eb 100%
  // );
  background: linear-gradient(
    0deg,
    rgba(164, 247, 254, 1) 0%,
    rgba(219, 249, 251, 1) 4%,
    rgba(255, 255, 255, 1) 8%
  );
  // max-width: 1080px;
}

.main-nav#logo-text {
  align-items: center;
  margin-right: 20px;
  padding: 50px;
}

.main-nav a,
ul {
  text-align: justify;
  text-decoration: none;
  color: black;
  margin-left: 20px;
  flex-direction: row;
  transition-property: color;
  :hover {
    color: #24ace6;
    transition: 0.2s ease-in;
  }
}

.main-nav li {
  display: inline;
}

.main-nav ul:last-child {
  margin-left: auto;
  padding-right: 12.5%;
  font-weight: 900;
  font-size: 1.5rem;
  :hover {
    color: #24ace6;
    transition: 0.2s ease-in;
  }
}

.entry-nav a {
  text-decoration: none;
  color: black;
  font-family: 'Urbanist', sans-serif;
  float: right;
}

.nav-menu {
  font-size: 0.85rem;
  font-weight: bold;
  :hover {
    transition: 0s;
    padding-bottom: 10%;
    border-bottom: 5px solid #24ace6;
  }
}
