.notebooks-main {
  display: flex;
  background: white;
  width: 100%;
  flex-direction: column;
  font-family: Nunito;
  .notebook-header {
    // margin-top: 50px;
    height: 30px;
    display: flex;
    background: rgb(240, 240, 240);
    // justify-content: space-around;
    align-items: center;
    margin: 0px 25px;
    font-size: 11px;
    color: grey;
    .nb-header-title {
      width: 40%;
      margin-left: 10px;
    }
    .nb-header-author {
      width: 20%;
    }
    .nb-header-update {
      width: 20%;
    }
    .nb-header-action {
      width: 20%;
      display: flex;
      justify-content: flex-end;
      margin-right: 10px;
    }
  }
  .notebook-index-item-container {
    font-size: 12px;
    display: flex;
    align-items: center;
    height: 30px;
  }
  .notebook-title {
    width: 45%;
    margin-left: 35px;
  }

  .notebook-author,
  .notebook-updated {
    width: 18.75%;
  }
  .nb-link {
    width: 40.5%;
    color: black;
    text-decoration: none;
  }

  .notebook-actions {
    width: 20.25%;
    display: flex;
    justify-content: flex-end;
    right: 10px;
  }

  .notebook-action-btn {
    border: none;
    background: #d04f4f;
    border-radius: 3px;
    color: white;
    margin-right: 3px;
    cursor: pointer;
  }

  .notebook-action-btn:hover {
    transition: 0.1s ease-in;
    background: #a83c3c;
  }
}
.notebook-index-header,
.notebook-index-header-2 {
  margin: 27px 0px 0px 25px;
}

.notebook-index-header {
  margin-bottom: 17px;
  font-size: 18px;
}

.notebook-index-header-2 {
  font-size: 14px;
  margin-right: 25px;
  border-bottom: 2px solid black;
}

.notebook-add-btn {
  position: absolute;
  right: 20px;
  top: 86px;
  border: none;
  background: transparent;
  color: #24ace6;
  cursor: pointer;
  .add-nb-icon {
    margin-right: 6px;
  }
}

.notebook-subheader {
  margin-bottom: 15px;
}
